.setting-parent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-image-container{
  width: 100vw;
  height:100vh;
  overflow:hidden;
  display: flex;
  align-items:center;
  justify-content:center;
}
.background-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background-color {
  width: 100%;
  height: 100%;
  background: var(--setting-color);
}
