.content-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-parent-wide {
  flex-direction: row;

}

.content-parent-narrow {
  flex-direction: column;

}

/***********************************************************************************************************************
Menu Window
***********************************************************************************************************************/
.content-menu-window-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow:hidden;
}

.content-menu-window-container-wide {
  width: 38.2%;
  height: 100%;
}

.content-menu-window-container-narrow {
  width: 100%;
  height: 38.2%;
}

/***********************************************************************************************************************
Search and Clock
***********************************************************************************************************************/

.content-search-and-clock-container-wide {
  flex-grow: 618;
  width: 61.8%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.content-search-and-clock-container-narrow {
  flex-grow: 618;
  height: 61.8%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}


/***********************************************************************************************************************
Arrow
***********************************************************************************************************************/

.arrow-container-wide {
  width: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  -webkit-box-shadow: inset -5px 10px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -5px 10px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset -5px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.arrow-container-narrow {

  width: 100%;
  height: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-box-shadow: inset 10px -5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 10px -5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 10px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

.menu-button-container {
  background-color: var(--menu-background-color);
  border-radius: 0 0 var(--default-border-radius) 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: var(--menu-button-container-size);
  height: var(--menu-button-container-size);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--menu-button-size);
  height: var(--menu-button-size);
}

.menu-img {
  width: var(--menu-button-size);
  height: var(--menu-button-size);
}
