<div class="content-parent" [ngClass]="{'content-parent-wide': isWide, 'content-parent-narrow':!isWide}">


  <div class="content-menu-window-container"
       *ngIf="showMenu"
       [@myMenuEnterLeaveHorizontalSlide]="state"
       [@myMenuEnterLeaveVerticalSlide]="state"
       [ngClass]="{'content-menu-window-container-wide': isWide, 'content-menu-window-container-narrow':!isWide}">
    <app-menu-window
      [isWide]="isWide"
      (someEvent)="closeMenu()">
    </app-menu-window>
  </div>
  <div class="content-menu-window-stretch"
       *ngIf="showMenu"
       [ngClass]="{'content-menu-window-container-wide': isWide, 'content-menu-window-container-narrow':!isWide}"
       [@myMenuEnterLeaveHorizontalStretch]="state"
       [@myMenuEnterLeaveVerticalStretch]="state">
  </div>
  <div class="arrow-container" *ngIf="!showMenu"
       [@myArrowEnterLeave]="state"
       [ngClass]="{'arrow-container-wide': isWide, 'arrow-container-narrow':!isWide}">
    <div class="menu-arrow btn"
         (click)="swapMenuVisibility()">
      <img class="arrow-img" src="{{arrowPath}}">
    </div>
  </div>
  <div class="content-search-and-clock-container"
       [ngClass]="{'content-search-and-clock-container-wide': isWide, 'content-search-and-clock-container-narrow':!isWide}">
    <app-search></app-search>

    <app-clock [isWide]="isWide"></app-clock>
  </div>
</div>

