.content-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
}

.content-separator {
  width: 30px;
  height: 40px;
}

/* MOVED SEARCH INPUT OUTSIDE WINDOW */
.search-input-container {
  position: absolute;
  bottom: 100%;
  right: 100%;
}


/*SCENE-SELECTOR-HOVER*/
.scene-selector-hover{
  position: fixed;
  top: 1em;
  left: 1em;
  border-radius: var(--credits-hover-square-size);
  min-height: var(--credits-hover-square-size);
  min-width: var(--credits-hover-square-size);
}

/*CREDITS-HOVER*/
.credits-hover{
  position: fixed;
  bottom: 1em;
  right: 1em;
  border-radius: var(--credits-hover-square-size);
  min-height: var(--credits-hover-square-size);
  min-width: var(--credits-hover-square-size);
}

/*TO-DO-HOVER*/
.to-do-hover{
  position: fixed;
  bottom: 1em;
  left: 1em;
  border-radius: var(--credits-hover-square-size);
  min-height: var(--credits-hover-square-size);
  min-width: var(--credits-hover-square-size);
}
