.content-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2);
}

.content-separator {
  width: 30px;
  height: 50px;
}

/* MOVED SEARCH INPUT OUTSIDE WINDOW */
.search-input-container {
  position: absolute;
  bottom: 100%;
  right: 100%;
}
