<div class="content-parent">
  <div class="content-container">
    <app-clock *ngIf="showClock"></app-clock>
    <div class="content-separator"></div>
    <app-list *ngIf="showList"></app-list>
    <app-search *ngIf="showSearch" [searchText]="searchText" [selectionSuggestion]="selectionSuggestion" [searchSuggestions]="searchSuggestions" [shortcut]="shortcut"></app-search>
    <app-fuck-off *ngIf="showFuckOff"></app-fuck-off>
    <app-scene-selector *ngIf="showSceneSelector"></app-scene-selector>
    <div class="search-input-container">
      <form class="form-container" #searchForm="ngForm" id="searchForm">
        <label for="search-input">Search</label>
        <input class="search-input" id="search-input"
               maxlength="100"
               [myFocus]="true"
               [(ngModel)]="searchText"
               name="search-input"
               (ngModelChange)="searchInputChanged()"
               #eventName="ngModel">
        <!--(ngModelChange) must be after the [(ngModel)] so that the function can be called after the value changes-->
        <!--required-->
        <!--[pattern]="textRegEx"-->
      </form>
    </div>
  </div>
</div>
