<div class="content-parent">
  <div class="content-container">
    <app-clock [@myEnter] *ngIf="showClock" [showList]="showList" ></app-clock>

    <!--<div class="content-separator" *ngIf="showClock && showList"></div>-->
    <app-list [@myEnter] *ngIf="showList" [elements]="elements" [categories]="categories" [showClock]="showClock"></app-list>

    <app-search [@myEnter] *ngIf="showSearch" [searchText]="searchText" [selectionSuggestion]="selectionSuggestion"
                [searchSuggestions]="searchSuggestions" [shortcut]="shortcut"></app-search>
    <app-citations [@myEnter] *ngIf="showCitations" [citations]="citations"></app-citations>

    <div class="scene-selector-hover" *ngIf="useScene || showSceneSelector" (mouseenter)="sceneSelectorHoverIn()" (mouseleave)="sceneSelectorHoverOut()">
      <app-scene-selector [@myEnter] *ngIf="showSceneSelector"></app-scene-selector>
    </div>

    <div class="credits-hover" *ngIf="useCredits" (mouseenter)="creditsHoverIn()" (mouseleave)="creditsHoverOut()">
      <app-credits [@myEnter] *ngIf="showCredits"></app-credits>
    </div>

    <div class="to-do-hover" (mouseenter)="toDoHoverIn()" (mouseleave)="toDoHoverOut()">
      <app-to-do [@myEnter] *ngIf="showToDo"></app-to-do>
    </div>

    <div class="search-input-container">
      <form class="form-container" #searchForm="ngForm" id="searchForm">
        <label for="search-input">Search</label>
        <input class="search-input" id="search-input"
               maxlength="100"
               [myFocus]="true"
               [(ngModel)]="searchText"
               name="search-input"
               (ngModelChange)="searchInputChanged()"
               #eventName="ngModel">
        <!--(ngModelChange) must be after the [(ngModel)] so that the function can be called after the value changes-->
      </form>
    </div>
  </div>
</div>
