<div class="clock-parent">
  <div class="dial">
    <div class="hour-digits digits-container">
      <div class="digit">
        {{hoursFirstDigit}}
      </div>
      <div class="digit">
        {{hoursSecondDigit}}
      </div>
    </div>
    <div class="dial-separator"></div>
    <div class="minute-digits digits-container">
      <div class="digit">
        {{minutesFirstDigit}}
      </div>
      <div class="digit">
        {{minutesSecondDigit}}
      </div>
    </div>
    <div class="dial-separator"></div>
    <div class="second-digits digits-container">
      <div class="digit">
        {{secondsFirstDigit}}
      </div>
      <div class="digit">
        {{secondsSecondDigit}}
      </div>
    </div>
  </div>
  <div class="horizontal-line"></div>
  <div class="clock-footer">
    <div class="place-container">
      <div class="place">
        place
      </div>
    </div>
    <div class="date-container">
      <div class="date">
        {{dayOfWeek}}, {{day}}.{{month}}.{{year}}
      </div>
    </div>
  </div>
</div>
