<div class="clock-parent" [ngClass]="{'clock-parent-if-alone': !showList, 'clock-parent-if-not-alone': showList}">
  <div class="clock-container">
    <div class="clock-header-padding" *ngIf="!allowLocation"></div>
    <div class="clock-header" [@myEnter] *ngIf="allowLocation">
      <div class="header-left-side" [@myEnter] *ngIf="allDataGathered">
        <div class="sunrise">
          <div class="sunrise-time">
            {{sunrise}}
          </div>
          <img class="sun-img" src="../../../assets/img/weather/sunrise.png">
        </div>
        <div class="temperature second-row">
          temp. {{temperature}} °C
        </div>
      </div>
      <div class="header-center" [@myEnter] *ngIf="allDataGathered">
        <img class="weather-img" src="{{iconPath}}">
      </div>
      <div class="header-right-side" [@myEnter] *ngIf="allDataGathered">
        <div class="sunset">
          <img class="sun-img" src="../../../assets/img/weather/sunset.png">
          <div class="sunset-time">
            {{sunset}}
          </div>
        </div>
        <div class="weather second-row">
          {{weather}}
        </div>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="dial">
      <div class="hour-digits digits-container">
        <div class="digit">
          {{hoursFirstDigit}}
        </div>
        <div class="digit">
          {{hoursSecondDigit}}
        </div>
      </div>
      <div class="dial-separator"></div>
      <div class="minute-digits digits-container">
        <div class="digit">
          {{minutesFirstDigit}}
        </div>
        <div class="digit">
          {{minutesSecondDigit}}
        </div>
      </div>
      <div class="dial-separator"></div>
      <div class="second-digits digits-container">
        <div class="digit">
          {{secondsFirstDigit}}
        </div>
        <div class="digit">
          {{secondsSecondDigit}}
        </div>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="clock-footer">
      <div class="coordinate-container" [@myEnter] *ngIf="allowLocation && allDataGathered">
        lat. {{latitude}} °<br>lon. {{longitude}} °
      </div>
      <div class="date-container">
        <div class="day-of-week">
          {{dayOfWeek}},
        </div>
        <div class="date">
          {{day}} . {{month}} . {{year}}
        </div>
      </div>
      <div class="place-container" [@myEnter] *ngIf="allowLocation && allDataGathered">
        <div class="place">
          {{locationName}}
        </div>
      </div>
    </div>
  </div>
</div>
