.clock-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size:0.8rem;
}

/***********************************************************************************************************************
Dial
***********************************************************************************************************************/
.dial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 4rem;
}

.digits{
  width: 4.5rem;
  text-align:center;

}

.dial-separator {
  width: 10px;
  height: 10px;
}

/***********************************************************************************************************************
Horizontal Line
***********************************************************************************************************************/
.horizontal-line {
  width: 80%;
  border: 0.5px solid black;
}

/***********************************************************************************************************************
Clock Footer
***********************************************************************************************************************/
.clock-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.place-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.date-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



