.clock-parent {
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 200px 0 rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.1rem;
  border-radius: 3em;
  /*padding: 1.5em;*/
  width: 25em;
  font-weight: 200;
}

/***********************************************************************************************************************
Clock Header
***********************************************************************************************************************/
.clock-header-padding{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-height: 20px;
}
.clock-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-height: 90px;
}

.header-left-side {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sunrise {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-center {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-right-side {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sunset {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun-img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.weather-img {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
}

.second-row {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/***********************************************************************************************************************
Dial
***********************************************************************************************************************/
.dial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 4.5rem;
  font-weight: 100;
}

.digits-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.digit {
  width: 0.7em;
}

.dial-separator {
  width: 20px;
  height: 20px;
}

/***********************************************************************************************************************
Horizontal Line
***********************************************************************************************************************/
.horizontal-line {
  width: 80%;
  border-top: 1px solid black;
}

/***********************************************************************************************************************
Clock Footer
***********************************************************************************************************************/
.clock-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-height: 90px;
}

.coordinate-container {
  width: 33%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.place-container {
  width: 33%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: end;
}

.date-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



