<div class="scene-parent">
  <app-asteroids *ngIf="sceneName === 'asteroids'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-asteroids>
  <app-phyllotaxy *ngIf="sceneName === 'phyllotaxy'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-phyllotaxy>
  <app-maze *ngIf="sceneName === 'maze'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-maze>
  <app-perlin-field *ngIf="sceneName === 'perlin-field'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-perlin-field>
  <app-rain *ngIf="sceneName === 'rain'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-rain>
  <app-lissajous *ngIf="sceneName === 'lissajous'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-lissajous>
  <app-harmonic-functions *ngIf="sceneName === 'harmonic-functions'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-harmonic-functions>
  <app-tree-map *ngIf="sceneName === 'tree-map'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-tree-map>
  <app-sorting-algorithms *ngIf="sceneName === 'sorting-algorithms'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-sorting-algorithms>
  <app-boids *ngIf="sceneName === 'boids'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-boids>
  <app-infinite-zoom *ngIf="sceneName === 'infinite-zoom'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-infinite-zoom>
  <app-modular-multiplication *ngIf="sceneName === 'modular-multiplication'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-modular-multiplication>
  <app-drops *ngIf="sceneName === 'drops'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-drops>
  <app-diffusion-limited-aggregation *ngIf="sceneName === 'diffusion-limited-aggregation'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-diffusion-limited-aggregation>
  <app-game-of-life *ngIf="sceneName === 'game-of-life'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-game-of-life>
  <app-kaleidoscope *ngIf="sceneName === 'kaleidoscope'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-kaleidoscope>
  <app-polar-functions *ngIf="sceneName === 'polar-functions'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-polar-functions>
  <app-langtons-ant *ngIf="sceneName === 'langtons-ant'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-langtons-ant>
  <app-quad-tree *ngIf="sceneName === 'quad-tree'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-quad-tree>
  <app-plexus *ngIf="sceneName === 'plexus'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-plexus>
  <app-refraction *ngIf="sceneName === 'refraction'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-refraction>
  <app-parallax *ngIf="sceneName === 'parallax'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-parallax>
  <app-visual-clock *ngIf="sceneName === 'visual-clock'" [screenWidth]="screenWidth" [screenHeight]="screenHeight" [showFPS]="showFPS"></app-visual-clock>
</div>
