<div class="scene-parent">
  <app-asteroids *ngIf="sceneNr === 0" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-asteroids>
  <app-phyllotaxy *ngIf="sceneNr === 1" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-phyllotaxy>
  <app-maze *ngIf="sceneNr === 2" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-maze>
  <app-perlin-field *ngIf="sceneNr === 3" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-perlin-field>
  <app-rain *ngIf="sceneNr === 4" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-rain>

</div>
