<div class="scene-parent">
  <app-asteroids *ngIf="sceneName === 'asteroids'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-asteroids>
  <app-phyllotaxy *ngIf="sceneName === 'phyllotaxy'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-phyllotaxy>
  <app-maze *ngIf="sceneName === 'maze'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-maze>
  <app-perlin-field *ngIf="sceneName === 'perlin-field'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-perlin-field>
  <app-rain *ngIf="sceneName === 'rain'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-rain>
  <app-lissajous *ngIf="sceneName === 'lissajous'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-lissajous>
  <app-functions *ngIf="sceneName === 'functions'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-functions>
  <app-harmonic-functions *ngIf="sceneName === 'harmonic-functions'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-harmonic-functions>
  <app-tree-map *ngIf="sceneName === 'tree-map'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-tree-map>
  <app-sorting-algorithms *ngIf="sceneName === 'sorting-algorithms'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-sorting-algorithms>
  <app-boids *ngIf="sceneName === 'boids'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-boids>
  <app-voronoi *ngIf="sceneName === 'voronoi'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-voronoi>
  <app-infinite-zoom *ngIf="sceneName === 'infinite-zoom'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-infinite-zoom>
  <app-modular-multiplication *ngIf="sceneName === 'modular-multiplication'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-modular-multiplication>
  <app-drops *ngIf="sceneName === 'drops'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-drops>
  <app-diffusion-limited-aggregation *ngIf="sceneName === 'diffusion-limited-aggregation'" [screenWidth]="sceneWidth" [screenHeight]="sceneHeight"></app-diffusion-limited-aggregation>

</div>
