<div class="to-do-parent">
  <div class="to-do-container">
    <div class="to-do-container" *ngFor="let toDo of toDoList, let i = index">
      <div class="new-to-do-container button" (click)="addToDo(i)">
        <div class="new-to-do">
          +
        </div>
      </div>
      <div class="to-do">
        <div class="to-do-text" *ngIf="editingElement !== i" [ngClass]="{'completed': toDoList[i].getCompleted()}">
          {{toDo.getText()}}
        </div>
        <div class="to-do-edit-text" *ngIf="editingElement === i">
          <form class="form-container" #searchForm="ngForm" id="editToDo">
            <label for="edit-input"></label>
            <input class="edit-to-do-input" id="edit-input"
                   maxlength="100"
                   [(ngModel)]="editingElementText"
                   name="edit-input"
                   (ngModelChange)="editingElementChanged(i)"
                   #eventName="ngModel">
          </form>
        </div>

        <!--<div class="to-do-up-down to-do-button" *ngIf="toDoList.length>1 && editingElement === i">-->
        <!--<div class="to-do-up button" (click)="moveToDoUp(i)">-->
        <!--up-->
        <!--</div>-->
        <!--<div class="to-do-down button" (click)="moveToDoDown(i)">-->
        <!--down-->
        <!--</div>-->
        <!--</div>-->
        <div class="to-do-delete to-do-button button" (click)="deleteToDo(i)" *ngIf="editingElement === i">
          del
        </div>
        <div class="to-do-edit to-do-button button" (click)="editToDo(i)">
          <div *ngIf="editingElement !== i">
            edit
          </div>
          <div *ngIf="editingElement === i">
            save
          </div>
        </div>
        <div class="to-do-complete to-do-button button" (click)="completeToDo(i)">
          comp
        </div>
      </div>

    </div>
    <div class="new-to-do-container button" *ngIf="toDoList.length !== 0" (click)="addToDo(this.toDoList.length+1)">
      <div class="new-to-do">
        +
      </div>
    </div>
  </div>
</div>
