.list-parent {
  /*110 because otherwise the box shadow makes strange effects ath the page edges*/
  width: 110vw;
  background: var(--default-background-color);
  -webkit-box-shadow: var(--default-box-shadow);
  -moz-box-shadow: var(--default-box-shadow);
  box-shadow: var(--default-box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--default-font-size);
  color: var(--default-font-color);

}

.list-parent-if-alone {
  -webkit-box-shadow: var(--default-box-shadow);
  -moz-box-shadow: var(--default-box-shadow);
  box-shadow: var(--default-box-shadow);
}

.list-parent-if-not-alone {
  -webkit-box-shadow: var(--default-box-shadow-down);
  -moz-box-shadow: var(--default-box-shadow-down);
  box-shadow: var(--default-box-shadow-down);
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--list-default-font-size);
  padding: 1.5em;

}

.list-separator {
  width: 20px;
  height: 20px;
}

/***********************************************************************************************************************
List category:
***********************************************************************************************************************/
.list-category-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-category {
  width: 15vw;
  min-width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.list-category-name-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: var(--list-category-font-size);
}

/***********************************************************************************************************************
List element:
***********************************************************************************************************************/

.list-element {
  width: 100%;
  height: 2.3em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  /*border: 1px solid white;*/
  border-radius: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  overflow: hidden;
  /*-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);*/
  /*box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);*/
}

.list-element:hover {
  background: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}

.shortcut-indicator-container {
  min-width: 1.7em;
  min-height: 1.7em;
  /*border-left: 15px solid;*/
  color: white;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-separator {
  width: 1em;
  height: 1em;
}
