<div class="list-parent">
  <div class="list-category-container">
    <div class="list-category" *ngFor="let category of categories, let i=index">
      <div class="list-category">
        <div class="list-category-name-container">
          <div class="list-category-name">
            {{categories[i]}}
          </div>
        </div>
      </div>
      <div class="list-separator">
      </div>
      <div class="list-element" *ngFor="let element of elements[i], let j=index" (click)="openLink(i,j)">
        <div class="shortcut-indicator-container">
          <div class="shortcut-indicator">
            {{elements[i][j][1]}}
          </div>
        </div>
        <div class="element-separator">
        </div>
        <div class="list-name-container">
          <div class="list-name">
            {{elements[i][j][0]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
