.fuck-off-parent{
  position: fixed;
  top: 1em;
  right:1em;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  flex-direction: column;
  color: var(--default-font-color);
}
.fuck-off-message{
  font-size: var(--citation-message-font-size)
}
.fuck-off-author{
  font-size: var(--citation-author-font-size)
}
