<div class="search-parent" [style.background]="shortcut[4]">
  <div class="search-background-box-shadow"></div>
  <div class="search-text-container">
    <!--do NOT put search text on a line on its own because it has the style   "white-space: pre;"-->
    <div class="search-text">{{searchText}}</div>
    <div myBlink>|</div>
  </div>
  <div class="suggestions-container">
    <div class="suggestion" *ngFor="let element of searchSuggestions; let i = index">
      <div class="suggestions-separator" *ngIf="i !== 0"></div>
      <div class="suggestion-text"
           (click)="clickedSuggestion(i)"
           [ngClass]="{suggestionHighlighted: selectionSuggestion === i}"
           [innerHTML]="searchSuggestions[i]"
      >
      </div>
    </div>
  </div>
  <div class="shortcut-name-container">
    <div class="shortcut-name">
      {{shortcut[0]}}
    </div>
  </div>
</div>

