<div class="search-parent">
  <div class="search-input-container">
    <form class="form-container" #searchForm="ngForm" id="searchForm">
      <input class="search-input" id="search-input"
             maxlength="100"
             [myFocus]="false"
             [(ngModel)]="searchText"
             name="search-input"
             spellcheck="false"
             placeholder=""
             (ngModelChange)="searchInputChanged()"
             (keydown.enter)="launchSearch()"
             (keydown.escape)="resetSearch()"
             (keydown.arrowdown)="selectDown()"
             (keydown.arrowup)="selectUp()">
      <!--(ngModelChange) must be after the [(ngModel)] so that the function can be called after the value changes-->
    </form>
    <div class="search-shortcut-container">
      <div class="search-shortcut-background" [@myDynamicWidth] *ngIf="shortcut!==undefined && shortcut[0]!==''"
           [style.background]="shortcut[4]">
        <div class="search-shorctut-text">
          {{shortcut[0]}}
        </div>
      </div>
    </div>
  </div>
  <div class="search-suggestion-expandable" [@myDynamicHeight] *ngIf="showSuggestions"
  >

    <div class="search-suggestion-container"
         *ngFor="let searchSuggestion of searchSuggestions; let i = index"
         [ngClass]="{suggestionHighlighted: selectedSuggestionIndex === i}">
      <div class="suggestion-text-container"

           (click)="clickedSuggestion(i)">
        <div class="suggestion-text"
             [innerHTML]="searchSuggestion">
        </div>
      </div>
    </div>
  </div>
</div>
