.search-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--search-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--search-font-color);
}
