.search-parent {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--default-font-color);
}

.search-background-box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-shadow:var(--default-box-shadow);
  -moz-box-shadow: var(--default-box-shadow);
  box-shadow: var(--default-box-shadow);
}

/***********************************************************************************************************************
Search Text:
***********************************************************************************************************************/

.search-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--search-text-font-size);

}

.search-text {
  white-space: pre;
}

/***********************************************************************************************************************
Suggestions:
***********************************************************************************************************************/
.suggestions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.suggestion-text:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.4em;
  cursor: pointer;
}

.suggestion-text {
  font-size: var(--suggestions-font-size);
  padding: 0.5em;
  margin: 1em;

}

.suggestions-separator {
  height: 1.618em;
  width: 1px;
  margin: 0;
  padding: 0;
  border-left: 1px solid white;
}

.suggestionHighlighted {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.4em;
}

.shortcut-name {
  font-size: var(--shortcut-found-font-size);
}
