<div class="about-parent">
  <div class="about-element">
    <div class="about-title">
      Kamon
    </div>
    <div class="about-description">
      <p>
        This is a browser start-page made using the Angular framework.
      </p>
      <p>
        It features a search bar with custom shortcut recognition, combining a bookmark-like functionality accessible directly with the keyboard.
      </p>
      <p>
        The background of the application uses an HTML canvas element which can render various animations to the screen.
      </p>
      <p>
        This project started in September, 2017 and, as it is a side project for me, I usually improve from time to time, when I have the time
      </p>
      <p>
        Additional information can be found on <a href="https://github.com/SilvoSposetti/kamon">Github</a>.
      </p>
      <p>
        - Silvo
      </p>
    </div>
  </div>

</div>
