<div class="app-parent" [ngClass]="{'app-desktop': isWide, 'app-mobile':!isWide}">
  <div class="content">
    <app-content [isWide]="isWide"
                 [isTall]="isTall"
                 [useScene]="useScene"></app-content>
  </div>
  <div class="background">
    <app-background [showFPS]="showFPS"
                    [screenHeight]="screenHeight"
                    [screenWidth]="screenWidth"
                    [isWide]="isWide"
                    [isTall]="isTall"
                    [useScene]="useScene"></app-background>
  </div>
</div>
