<div class="app-parent">
  <div class="content">
    <app-content [showClock]="showClock"
                 [showList]="showList"
                 [showCitations]="showCitations"
                 [selectionSuggestion]="selectionSuggestion"
                 [citations]="citations"
                 [useToDoList]="useToDoList"
                 [useCredits]="useCredits"
                 [screenHeight]="screenHeight"
                 [screenWidth]="screenWidth"
                 [isWide]="isWide"
                 [isTall]="isTall"
                 [useScene]="useScene"></app-content>
  </div>
  <div class="background">
    <app-background [showFPS]="showFPS"
                    [screenHeight]="screenHeight"
                    [screenWidth]="screenWidth"
                    [isWide]="isWide"
                    [isTall]="isTall"
                    [useScene]="useScene"></app-background>
  </div>
</div>
