/*!****** CUSTOM VARIABLES FOR THE WHOLE PROJECT ******!*/
:root {

  /* Root Font Size*/
  --default-font-size: 20px;
  --default-mobile-font-size: 10px;
  --default-font-weight: 200;
  /* Custom Colors */
  --default-font-color: white;
  /*--default-background-color: rgba(0, 0, 0, 0.6);*/
  /*--default-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);*/
  /*--default-box-shadow-up: 0 -30px 30px -30px rgba(0, 0, 0, 1); !* Used only for clock and list when they coexist *!*/
  /*--default-box-shadow-down: 0 30px 30px -30px rgba(0, 0, 0, 1); !* Used only for clock and list when they coexist *!*/

  --default-background-color: rgba(0, 0, 0, 0);
  --default-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0);
  --default-box-shadow-up: 0 -30px 30px -30px rgba(0, 0, 0, 0); /* Used only for clock and list when they coexist */
  --default-box-shadow-down: 0 30px 30px -30px rgba(0, 0, 0, 0); /* Used only for clock and list when they coexist */

  /*background: var(--default-background-color);*/
  /*-webkit-box-shadow: var(--default-box-shadow);*/
  /*-moz-box-shadow: var(--default-box-shadow);*/
  /*box-shadow: var(--default-box-shadow);*/

  /*********** BACKGROUND / SETTING ***********/
  /*--setting-color: linear-gradient(141deg, #10afa3 0%, #10998e 25%, #177181 51%, #1b5978 75%, #1b4564 100%);*/
  --setting-color: linear-gradient(141deg, #13E2B5 0%, #009DE0 100%);
  /*--setting-color: linear-gradient(141deg, #FFAF2E 0%, #F70B66 100%);*/
  /*--setting-color: #121212;*/

  /*********** CONTENT ***********/

  /* Citations */
  --citation-message-font-size: 1em;
  --citation-author-font-size: 0.8em;

  /* Clock*/
  --clock-info-font-size: 0.9em;
  --clock-dial-font-size: 4.5em;
  --clock-lines-color: 1px solid rgba(255, 255, 255, 0.3);

  /* List */
  --list-category-font-size: 1.2em;
  --list-default-font-size: 1em;
  --shortcut-indicator-background-color: rgba(0, 0, 0, 0);
  --list-element-hover-background-color: rgba(200, 200, 200, 0.4);

  /*SEARCH COMPONENT*/
  --search-text-font-size: 2em;
  --suggestions-font-size: 1em;
  --shortcut-found-font-size: 1.2em;
  --search-background-color: rgba(0, 0, 0, 0.7);

  /*CREDITS*/
  --credits-font-size: 0.8em;
  --credits-height: 5em;
  --credits-border: 15em;
  --credits-hover-square-size: 5em;

  /*OTHER*/
  /*.ng-valid[required], .ng-valid.required {*/
  /*border-left: 10px solid var(--success); !* green *!*/
  /*}*/

  /*.ng-invalid:not(form) {*/
  /*border-left: 10px solid var(--failure); !* red *!*/

  /*LOADING SCREEN*/
  --loading-font-size: 2vh;
  --loading-font-color: white;
  --loading-background-color: #373737;

}

/***********************************************************************************************************************
SCENES:
***********************************************************************************************************************/

.scene-canvas-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.scene-fps-counter {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

/***********************************************************************************************************************
index.html:
***********************************************************************************************************************/
.index-container {
  font-size: var(--loading-font-size);
  color: var(--loading-font-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--loading-background-color);
}

.index-loading {
  margin: 10px;
}

.index-loading-gif-container {
  width: 50px;
  height: 50px;
}

.index-loading-gif {
  width: 100%;
  height: 100%;
  background-image: url('./assets/gif/loading.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/***********************************************************************************************************************
links:
***********************************************************************************************************************/

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightgrey;
}

/* mouse over link */
a:hover {
  color: lightgrey;
}

/* selected link */
a:active {
  color: white;
}
