.scene-selector-parent {
  position: fixed;
  top: 1em;
  left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 200px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 200px 0 rgba(0, 0, 0, 1);
  border-radius: 0.5em;
}

.scene-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.scene-name {
  padding: 0.5em;
  margin: 0.1em;
  border-radius: 0.5em;
  cursor: pointer;
  width: 200px;
}

.scene-name:hover {
  background: rgba(255, 255, 255, 0.1)
}
