<div class="scene-selector-parent">
  <div class="alphabetic-blocks" *ngFor="let block of scenesAlphabeticalList, let i = index">
    <div class="initial-column">
      {{block[0][0].toUpperCase()}}
    </div>
    <div class="scenes-row">
      <div class="scene-container" *ngFor="let scene of block, let j = index">
        <div class="scene-name" [ngClass]="{highlighted: selectedSceneNr === getSceneNrFromIAndJ(i,j)}"
             (click)="clickScene(i,j)">
          {{scene}}
        </div>
      </div>
    </div>
  </div>
</div>

