.scene-selector-parent {
  position: fixed;
  top: 1em;
  left: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--default-background-color);
  -webkit-box-shadow: var(--default-box-shadow);
  -moz-box-shadow: var(--default-box-shadow);
  box-shadow: var(--default-box-shadow);
  font-size: var(--default-font-size);
  color: var(--default-font-color);
  border-radius: 0.5em;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 19em;
}

.deactivate-scene-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width:100%;
  cursor: pointer;
}
.deactivate-scene-container:hover {
  background: rgba(255, 255, 255, 0.1)
}

.alphabetic-blocks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  flex-shrink: 0;

  /*background: rgba(255, 255, 255, 0.1);*/
  /*border-radius: 0.5em;*/
}

.initial-column {
  width: 1em;
  height: 1em;
  padding: 0.2em;
  margin: 0.1em;
}

.scenes-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.scene-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.scene-name:hover {
  background: rgba(255, 255, 255, 0.1)
}

.highlighted {
  background: rgba(255, 255, 255, 0.2) !important;
  /* The div must remain highlighted (selected) even when it is hovered. */
}

.scene-name {
  padding: 0.2em;
  margin: 0.1em;
  border-radius: 0.5em;
  cursor: pointer;
  min-width: 15em;
  height: 1em;
}



