.credits-parent {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--default-background-color);
  -webkit-box-shadow: var(--default-box-shadow);
  -moz-box-shadow: var(--default-box-shadow);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--credits-hover-square-size);
  color: var(--default-font-color);
  width: 21em;
}

.credits-text {
  font-size: var(--credits-font-size);
  margin: 1em;
}

.credits-image {
  width: var(--credits-hover-square-size);
  height: var(--credits-hover-square-size);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}


